<div class="global">
  <div class="middle">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="loginForm.username">

    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="loginForm.password">
    </mat-form-field>

    <a mat-button href>forgot password!</a>
    <button class="btn btn-round color-1 material-design" (click)=authenticate()>
      Connexion
    </button>
  </div>

</div>
