<div class="global">
  <div class="middle">
    <div *ngIf="!submitted">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="singUpForm.name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="singUpForm.username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" [(ngModel)]="singUpForm.password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. email@company.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="selectedRole" name="role">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{role.roleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn btn-round color-1 material-design" (click)=signIn()>
        Connexion
      </button>


    </div>
  </div>
</div>

