/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.material-design {
  position: relative;
}
.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}
.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
}
.btn.color-1 {
  background-color: #1E90FF;
}
.btn.color-2 {
  background-color: #00897b;
}
.btn.color-lightsteelblue {
  background-color: #B0C4DE;
}
.btn.color-4 {
  background-color: #e94043;
}

.btn-round {
  border-radius: 10em;
}

.blue-snackbar {
  color: #155724 !important;
  background-color: #B0E0E6 !important;
  border-color: #c3e6cb !important;
}
.success-snackbar {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}
.error-snackbar {
  color: #B22222 !important;
  background-color: #C0C0C0 !important;
  border-color: #c3e6cb !important;}
